<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sll.showbiggerimage" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity android:name="com.sll.showbiggerimage.TransitionActivity"/>
    </application>
</manifest>
